#ProjectContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    animation: 0.3s ease-out 0s 1 slideInFromLeft;
}
#ProjectInfoContainer{
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: 95%;
    background-color: var(--dark-secondary-color);
}
#ProjectInfoContainer.LightMode{
    background-color: var(--light-secondary-color);
}
#ProjectInfo{
    flex-shrink: 0;
    margin: 2% 2%;
    height: 500px;
    width: 300px;
    background-color: var(--dark-bg);
}
#ProjectInfo.LightMode{
background-color: var(--light-bg); 
}
#projectDesription{
    display: flex;
    height:auto;
    flex-direction: column;
    margin: 2% 2%;
    width: 100%;
    overflow-y: auto;
    background-color: var(--dark-bg);
    
}
#projectDesription.LightMode{
    background-color: var(--light-bg);
}
#ProjectImageContainer{
    height: 40%;
    width: 100%;
}
#ProjectImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MainHeader{
    margin: 2% 2%;
}
.TechStackText{
    margin: 2% 2%;
    font-size: 0.8rem;
}
.TechStackContainer{
    margin: 5% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ProjectTextBox{
    padding: 1%;

}
@media screen and (max-width: 800px) {
    #ProjectInfoContainer {
        flex-direction: column;
        align-items: center;
    }
    #projectDesription{
        margin: 5% 5%;
        min-width: 300px;
        width: auto;
    }
}
.deployContainer{
    display: flex;
    height: 50px;
    width: 150px;
    background-color: rgb(15, 16, 17);
    border-radius: 5px;
    margin: 2% 2%;
    align-items: center;
}
.deployContainer.LightMode{
    background-color: rgb(179, 204, 169);
}
.logoContainer{
    width: 50px;
    height: 65%;
    margin: 2% 2%;
}
.logoContainer img{
    height: 100%;
    width: 100%;  
}
.logoText a{
    color: #FFFFFF;
    text-decoration: none;
}
.logoText.LightMode a{
    color: #000000;
}
@keyframes slideInFromLeft {
    0% {
        filter: blur(20px);
        opacity: 0;
        background-color: rgba(255, 255, 255, 1);
        transform: translateX(70%);
    }
    100% {
    filter: blur(0);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
      transform: translateX(0);
    }
  }
  
