.backgroundContainer {
  position: fixed;
  min-height: 730px;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  background: radial-gradient(
    circle at 50% 50%,
    #111a2a 0%,
    #111a2a 12%,
    #06070a 55%,
    #040405 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
