.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.content {
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 2.2rem, 3rem);
  font-weight: bold;
  color: #d1d5db;
}

.wordContainer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  font-size: clamp(1rem, 3rem, 4rem);
  font-weight: 800;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
