.chartCard {
  width: 100%;
  max-width: 350px;
  margin: auto;
  padding: 16px;
  background: var(--dark-bg);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--dark-bg-accent);
}

.chartHeader {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.chartContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltipContainer {
  background: #000000;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.tooltipTitle {
  font-weight: bold;
}

.legendContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
}

.legendColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.chartTotal {
  font-size: 24px;
  font-weight: bold;
  fill: rgb(255, 255, 255);
}

.chartSubtext {
  font-size: 12px;
  fill: gray;
}
