.Content {
  display: flex;
  padding: 4%;
  gap: 2%;
  justify-content: center;
}
.heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: clamp(2rem, 3vw, 4rem);
}
.Container {
  width: 100%;
}
.chart {
  align-self: flex-end;
}
.topics {
  height: auto;
  width: 800px;
  border: 1px solid #fff;
  border-radius: 10px;
}
