.Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: flex-start;
  padding: 3%;
}

.info {
  flex: 1 1 500px; /* Allows `.info` to take space but wrap if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border: 1px solid var(--dark-bg-accent);
  border-radius: 5px;
  padding: 1%;

  min-width: 350px; /* Prevents excessive shrinking */
  margin-top: 1rem;
}
.heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: clamp(2rem, 3vw, 4rem);
}
.Container {
  width: 100%;
}

.styledText {
  color: white;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 300;
  letter-spacing: 0.1em;
  white-space: nowrap;
  overflow: hidden;
  animation: fadeInUp 0.8s ease-out;
  margin: 2%;
}

.styledText span {
  display: inline-block;
  padding: 0 0.5em;
}

.styledText span:not(:last-child)::after {
  content: "|";
  opacity: 0.5;
  padding-left: 1em;
}
.topics {
  position: relative;
  align-self: flex-start;
  margin: 2%;
  font-size: 1.3rem;
  width: 95%;
}
.topics::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--dark-bg-accent);
  margin-top: 5px;
}
.topicList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2%;
}
@media screen and (max-width: 768px) {
  .styledText {
    font-size: clamp(1rem, 6vw, 4rem);
    font-weight: 600;
    white-space: normal;
    text-align: center;
  }
}
