#FooterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  max-width: 1300px;
  margin: 20px auto 0;
  border-top: 1px solid var(--dark-bg-accent);
}
#FooterContainer.LightMode {
  border-top: 1px solid var(--light-bg-accent);
}
#Footer {
  position: absolute;
  bottom: 0;
}
