@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
#HeaderContainer.LightMode {
    background-color:var(--light-secondary-color);

}

#HeaderContainer{
    font-family: "Raleway", sans-serif;
    display: flex;
    width: 100%;
    height: 30px;
    background-color:#1E2831;
    align-items: center;
    justify-content: space-between;
    min-height: 25px;
}
#LeftHeader{
    display: flex;
    align-items: center;
}
.HeaderButton.light-mode{
    color: black;
}
.HeaderButton { 
    border: none; 
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    background: none;
    transition: all 0.1s ease;
    margin: 0 20px;
  }
.HeaderButton.LightMode{
    color:#000000;
}
.HeaderButton:hover{
    transform: translateY(-2px);
    text-decoration: underline;
}


.dropdown{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: inline-block;
}
.drpClick {
    border: none;
    background: none;
    cursor: pointer;

}
.dropdown:hover .drpClick{
    border: #0E1319;
}
.drpClick:hover {
    text-decoration: underline;

}
.DropdownContent{
    display: none;
    position: absolute;
    background-color: #0E1319;
    min-width: 160px;

}

.DropdownContent button {
    border: none;
    background: none;
    width: 100%;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}
.DropdownContent button:hover {
    text-decoration: underline;
}

.dropdown:hover .DropdownContent {
    display: block;
}
@media (min-width: 800px) {
    .dropdown{
        display: none;
    }
}
@media (max-width:800px){
    #LeftHeader{
        display: none;
    }
}