.container {
  text-align: center;
  padding: 20px;
}

.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Adjust spacing as needed */
}

.gradientLine {
  height: 4px;
  width: 40%;
  background: linear-gradient(90deg, #ff00ff, #00ffff, #ff00ff);
  background-size: 200% 100%;
  animation: moveGradient 3s ease infinite;
}

.text {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.left,
.right {
  width: 100px; /* Adjust for consistency */
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 400px) {
  .text {
    font-size: 2rem;
  }
}
