.container {
  text-align: center;
  background-color: black;
  padding: 20px;
}

.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Adjust spacing as needed */
}

.gradientLine {
  height: 4px;
  width: 40%;
  background: linear-gradient(90deg, #007cf0, #00dfd8);
  background-size: 200% 100%;
  animation: moveGradient 2s infinite linear;
}

.text {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.left,
.right {
  width: 100px; /* Adjust for consistency */
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%; /* Start position */
  }
  100% {
    background-position: 100% 50%; /* End position */
  }
}
