.ImageContainer {
  min-width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid #ffffff1a;
  border-radius: 24px;
  background-image: radial-gradient(#ffffff1a 1px, #0000 1px);
  background-size: 20px 20px;
}

.ArchitectureSvg {
  width: 100%;
  max-width: 420px;
  height: auto;
}
