.ImageContainer {
  height: 256px;
  min-width: 256px;
  border: 1px solid #ffffff1a;
  border-radius: 24px;
  background-image: radial-gradient(#ffffff1a 1px, #0000 1px);
  background-size: 20px 20px;
}
