body {
  visibility: hidden;
}

body.body-visible {
  visibility: visible;
}

:root {
  --dark-bg: #2f363e;
  --dark-bg-outline: #72859a;
  --dark-text: #ffffff;
  --dark-secondary-color: #1e2831;
  --light-bg: #f0faef;
  --light-bg-outline: #cae1c8;
  --light-bg-backup: #f5f0e1;
  --light-text: #000000;
  --light-secondary-color: #d9f0d7;
  --light-secondary-color-backup: #fce7a9;
  --transition-time: 0.3s;
}

body {
  background-color: var(--dark-bg);
  color: var(--dark-text);
  transition: background-color var(--transition-time) ease,
    color var(--transition-time) ease;
  font-style: normal;
}

body.LightMode {
  background-color: var(--light-bg);
  color: var(--light-text);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
